<form action="/shorts", method="POST">
    <div class="form-group">
        <input type="url" class="form-control" id="url_original" name="url_original" required>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Shorten</button>
</form>