<h1>Success! Please use this link: </h1>
<div>
    <a href="{{ short.url_short }}">
        <h2 id="url-short">{{ short.url_short }}</h2>
    </a>
</div>
<button class="btn btn-success mt-4" onclick="copyText()">Copy</button>
<a class="btn btn-info mt-4" href="/">Retry</a>
<script type="text/javascript">
    function copyText() {
        const urlShort = document.querySelector("#url-short")
        /* Copy the text inside the text field */
        navigator.clipboard.writeText(urlShort.innerHTML)
        /* Alert the copied text */
        alert(`Copied the short url: ${urlShort.innerHTML}`)
    }
</script>